body
{
    background-color:aliceblue;
}
.heading
{
    color: antiquewhite;
    
}

.image
{
    float: left;
    border-radius: 50%;
}
.para
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    text-align:justify;
    font-size:small;
    color: antiquewhite;
}
#main
{
    margin-top: 10px;
    margin-left: 30%;
}
#d1
{

background-color:blueviolet;
height: 300px;
width: 280px;
margin-top: 10px;
margin-left: 50px;
padding-top: 10px;
padding-left: 10px;

}
#d5
{
background-color:black;
height: 300px;
width: 280px;
margin-top: 10px;
margin-left: 50px;
padding-top: 10px;
padding-left: 10px;

}
#d2
{
    border-radius: 25px;
    background-color:cadetblue;
    height: 300px;
    width: 280px;
    margin-top: 10px;
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 10px;
}*

#d3
{
  
    background-color:darkblue;
    height: 300px;
    width: 280px;
    margin-top: 10px;
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 10px;
}
#d4
{
    background-color:white;
    height: 300px;
    width: 280px;
    margin-top: 10px;
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 10px;   
}